In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('../data/data.csv')

In [3]:
dataset.drop('Loaned From', inplace=True, axis=1)
dataset.drop('Contract Valid Until', inplace=True, axis=1)
dataset.drop('Unnamed: 0', inplace=True, axis=1)

In [4]:
dataset.dropna(inplace=True)

In [5]:
dataset.shape

(14743, 86)

In [6]:
release_clause = list(dataset['Release Clause'].values)
weights = list(dataset['Weight'].values)

In [7]:
release_int = list()
for money in release_clause:
    money_number = float(money[1:-1])*10**6
    release_int.append(money_number)

In [8]:
weight_int = list()
for w in weights:
    weight_number = int(w[:-3])
    weight_int.append(weight_number)

In [9]:
dataset['Weight'] = weight_int
dataset['Release Clause'] = release_int

In [10]:
dataset_num = dataset.select_dtypes(np.number)

In [11]:
dataset_num.set_index('ID', inplace=True)

In [12]:
dataset_num.head(10)

,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,Weight,Crossing,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
ID,,,,,,,,,,,,,,,,,,,,,
158023,31,94,94,2202,5.0,4.0,4.0,10.0,159,84.0,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,226500000.0
20801,33,94,94,2228,5.0,4.0,5.0,7.0,183,84.0,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,127100000.0
190871,26,92,93,2143,5.0,5.0,5.0,10.0,150,79.0,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,228100000.0
192985,27,91,92,2281,4.0,5.0,4.0,7.0,154,93.0,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,196400000.0
183277,27,91,91,2142,4.0,4.0,4.0,10.0,163,81.0,...,91.0,34.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0,172100000.0
177003,32,91,91,2280,4.0,4.0,4.0,10.0,146,86.0,...,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,137400000.0
176580,31,91,91,2346,5.0,4.0,3.0,9.0,190,77.0,...,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0,164000000.0
155862,32,91,91,2201,4.0,3.0,3.0,15.0,181,66.0,...,82.0,87.0,92.0,91.0,11.0,8.0,9.0,7.0,11.0,104600000.0
188545,29,90,90,2152,4.0,4.0,4.0,9.0,176,62.0,...,86.0,34.0,42.0,19.0,15.0,6.0,12.0,8.0,10.0,127100000.0
182521,28,90,90,2190,4.0,5.0,3.0,8.0,168,88.0,...,85.0,72.0,79.0,69.0,10.0,11.0,13.0,7.0,10.0,156800000.0

In [13]:
dataset_num.columns

Index(['Age', 'Overall', 'Potential', 'Special', 'International Reputation',
       'Weak Foot', 'Skill Moves', 'Jersey Number', 'Weight', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [14]:
bad_variables = ['Weak Foot', 'Skill Moves', 'Jersey Number', 'Release Clause']
dataset_num.drop(bad_variables, axis=1, inplace=True)

/home/cuadraalconero/Documents/prueba_python/lib/python3.7/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [15]:
dataset_num.columns

Index(['Age', 'Overall', 'Potential', 'Special', 'International Reputation',
       'Weight', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing',
       'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing',
       'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions',
       'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes'],
      dtype='object')

In [16]:
dataset_num.shape

(14743, 40)

In [17]:
dataset_num.to_csv('../data/numeric_data.csv', sep=',')

In [18]:
categorical_data = dataset[['ID','Name', 'Nationality', 'Club', 'Preferred Foot', 'Work Rate']]

In [19]:
categorical_data.set_index('ID', inplace=True)

In [20]:
categorical_data.head(10)

,Name,Nationality,Club,Preferred Foot,Work Rate
ID,,,,,
158023,L. Messi,Argentina,FC Barcelona,Left,Medium/ Medium
20801,Cristiano Ronaldo,Portugal,Juventus,Right,High/ Low
190871,Neymar Jr,Brazil,Paris Saint-Germain,Right,High/ Medium
192985,K. De Bruyne,Belgium,Manchester City,Right,High/ High
183277,E. Hazard,Belgium,Chelsea,Right,High/ Medium
177003,L. Modrić,Croatia,Real Madrid,Right,High/ High
176580,L. Suárez,Uruguay,FC Barcelona,Right,High/ Medium
155862,Sergio Ramos,Spain,Real Madrid,Right,High/ Medium
188545,R. Lewandowski,Poland,FC Bayern München,Right,High/ Medium
182521,T. Kroos,Germany,Real Madrid,Right,Medium/ Medium

In [21]:
categorical_data.to_csv('../data/categorical_data.csv', sep=',')